.resultsContainer {
  margin-top: 60px;
  position: relative;
}

.resultsHide {
  display: none;
}

.resultsShow {
  display: block;
}

.winnerContainer {
  width: 100%;
  text-align: center;
}

.whoWon {
  color: #fff;
  font-size: 3.5em;
  letter-spacing: 2px;
}

.playAgainContainer {
  margin-top: 16px;
  text-align: center;
}

.playAgain {
  width: 230px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-size: 1em;
  letter-spacing: 1px;
  color: var(--DarkText);
  cursor: pointer;
}

.playAgain:hover {
  color: var(--RockGradient1);
}

@media (min-width: 400px) {
  .gamePlayComponent {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .resultsContainer {
    margin-top: 122px;
  }
}

@media (min-width: 780px) {
  .resultsContainer {
    margin-top: 20px;
  }
}

@media (min-width: 950px) {
  .resultsContainer {
    margin-top: 120px;
  }
}
