.gameContainer {
  margin-top: 90px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 100%;
  height: 300px;
  position: relative;
}

.bgTriangle {
  background-image: url('../img/bg-triangle.svg');
}

.outerCircle {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: inset 0 -4px 1px 1px rgba(0,0,0,0.3);
  display: flex;
}

.outerCirclePos {
  position: absolute;
}

.paperCircle {
  background-image: linear-gradient(var(--PaperGradient1), var(--PaperGradient2));
}

.scissorsCircle {
  background-image: linear-gradient(var(--ScissorsGradient1), var(--ScissorsGradient2));
}

.rockCircle {
  background-image: linear-gradient(var(--RockGradient1), var(--RockGradient2));
}

.paperCirclePos {
  top: 0;
  left: 32px;
}

.scissorsCirclePos {
  top: 0;
  right: 32px;
}

.rockCirclePos {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.innerCircle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 43%;
  box-shadow: inset 0 3px 2px 2px #c8c8c8;
}

.innerPaperCircle {
  background-image: url('../img/icon-paper.svg');
}

.innerScissorCircle {
  background-image: url('../img/icon-scissors.svg');
}

.innerRockCircle {
  background-image: url('../img/icon-rock.svg');
}

@media (min-width: 400px) {
  .gameContainer {
    margin: 162px auto 0;
    width: 700px;
    max-width: 1355px;
    height: 300px;
  }

  .outerCircle {
    width: 204px;
    height: 204px;
    box-shadow: inset 0 -8px 1px 1px rgba(0,0,0,0.3);
  }

  .paperCirclePos {
    top: -96px;
    left: 116px;
  }
  
  .scissorsCirclePos {
    top: -96px;
    right: 116px;
  }
  
  .rockCirclePos {
    bottom: -35px;
  }

  .innerCircle {
    width: 152px;
    height: 152px;
    box-shadow: inset 0 6px 2px 1px #c8c8c8;
  }
}