.gamePlayComponentAdv {
  margin-top: 0px;
}

.gamePlayOuterContainerAdv {
  margin-top: 90px;
  width: 100%;
  position: relative;
}

.gamePlayContainerAdv {
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.playerPickContainerAdv {
  position: relative;
}

.computerPickContainerAdv {
  position: relative;
}

.itemContainerAdv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.itemContainerPlayerAdv {
  border-radius: 50%;
  height: 162px;
  width: 162px;
  border: 2px solid yellow;
}

.outerComputerCircleAdv {
  height: 132px;
  width: 132px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.1);
}

.itemPickedTextAdv {
  color: #fff;
  text-align: center;
  padding-top: 32px;
}

.resultsContainerAdv {
  margin-top: 60px;
}

.resultsHideAdv {
  display: none;
}

.resultsShowAdv {
  display: block;
}

.winnerContainerAdv {
  width: 100%;
  text-align: center;
}

.whoWonAdv {
  color: #fff;
  font-size: 3.5em;
  letter-spacing: 2px;
}

.playAgainContainerAdv {
  margin-top: 16px;
  text-align: center;
}

.playAgainAdv {
  width: 230px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-size: 1em;
  letter-spacing: 1px;
  color: var(--DarkText);
  cursor: pointer;
}

.playerResultsRingContainerAdv {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  top: -84px;
  left: -84px;
  z-index: -10;
}

.ringsOffAdv {
  opacity: 0;
}

.ringsOnAdv {
  opacity: 1;
}

.playerResultsRingsAdv {
  background-color: var(--HeaderOutline);
  opacity: .1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerResultsOuterRingAdv {
  width: 284px;
  height: 284px;
  z-index: -9;
}

.playerResultsMidRingAdv {
  width: 218px;
  height: 218px;
  z-index: -8;
}

.playerResultsInnerRingAdv {
  width: 162px;
  height: 162px;
  z-index: -7;
}