.gamePlayOuterContainer {
  margin-top: 90px;
  width: 100%;
  position: relative;
}

.gamePlayContainer {
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.playerPickContainer,
.computerPickContainer {
  position: relative;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.outerPlayerCircle,
.outerComputerCircle {
  height: 132px;
  width: 132px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.1);
}

.itemPickedText {
  color: #fff;
  text-align: center;
  padding-top: 32px;
}

.resultsRingsContainer {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  z-index: -10;
  top: -84px;
  transition: opacity 1s ease;
}

.playerResultsRingContainer {
  left: -84px;
}

.computerResultsRingContainer {
  right: -84px;
}

.ringsOff {
  opacity: 0;
}

.ringsOn {
  opacity: 1;
}

.playerResultsRings {
  background-color: var(--HeaderOutline);
  opacity: .1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerResultsOuterRing {
  width: 284px;
  height: 284px;
  z-index: -9;
}

.playerResultsMidRing {
  width: 218px;
  height: 218px;
  z-index: -8;
}

.playerResultsInnerRing {
  width: 162px;
  height: 162px;
  z-index: -7;
}

@media (min-width: 440px) {
  .gamePlayOuterContainer {
    margin: 64px auto 0;
    width: 440px;
  }
}

@media (min-width: 780px) {
  .gamePlayOuterContainer {
    margin: 90px 0 0 0;
    width: 100%;
  }

  .outerPlayerCircle,
  .outerComputerCircle {
    height: 204px;
    width: 204px;
  }

  .resultsRingsContainer {
    width: 600px;
    height: 600px;
    top: -78%;
  }

  .playerResultsRingContainer {
    left: 50%;
    transform: translateX(-50%);
  }

  .computerResultsRingContainer {
    right: 50%;
    transform: translateX(50%);
  }
  
  .playerResultsOuterRing {
    width: 584px;
    height: 584px;
  }
  
  .playerResultsMidRing {
    width: 450px;
    height: 450px;
  }
  
  .playerResultsInnerRing {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 950px) {
  .gamePlayOuterContainer {
    margin-top: 80px;
  }

  .gamePlayContainer {
    padding: 0;
  }

  .playersPickContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .playerPickContainer {
    left: 0;
    transform: translateX(-50%);
  }
  
  .computerPickContainer {
    right: 0;
    transform: translateX(50%);
  }

  .itemPickedText {
    padding-top: 0;
    margin: 0 0 60px 0;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  .resultsRingsContainer {
    top: -36%;
  }
}