.gamePlayComponent {
  margin-top: 150px;
  width: 100%;
  position: relative;
}

.gamePlayContainer {
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.playerPickContainer {
  position: relative;
}

.computerPickContainer {
  position: relative;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.outerComputerCircle {
  height: 132px;
  width: 132px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.1);
}

.itemPickedText {
  color: #fff;
  text-align: center;
  padding-top: 32px;
}

.resultsContainer {
  margin-top: 100px;
}

.resultsHide {
  display: none;
}

.resultsShow {
  display: block;
}

.winnerContainer {
  width: 100%;
  text-align: center;
}

.whoWon {
  color: #fff;
  font-size: 3.5em;
}

.playAgainContainer {
  margin-top: 16px;
  text-align: center;
}

.playAgain {
  width: 240px;
  height: 60px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}