.scoreHeaderAdv {
  margin: 0 32px;
  border-radius: 8px;
  border: 3px solid var(--HeaderOutline);
  box-shadow: 0 0 3px 0px var(--HeaderOutline);
  display: flex;
  justify-content: space-between;
}

.scoreHeaderInnerContainerAdv {
  display: flex;
  align-items: center;
}

.scoreHeaderInnerContainerAdv ul {
  list-style: none; 
}

.scoreHeaderTextContainerAdv {
  padding: 0 20px;
}

.scoreHeaderTextAdv {
  color: #fff;
  line-height: 10px;
  font-size: .8em;
  font-weight: 600;
}

.scoreHeaderScoreContainerAdv {
  border-radius: 6px;
  background-color: #fff;
  margin: 10px;
  padding: 11px 20px;
  text-align: center;
}

.scoreHeaderScoreTitleAdv {
  color: var(--ScoreText);
  font-size: .65em;
  letter-spacing: 2px;
}

.scoreHeaderScoreAdv {
  color: var(--DarkText);
  font-size: 2.3em;
  font-weight: 700;
  line-height: 36px;
}

@media (min-width: 440px) {
  .scoreHeaderAdv {
    width: auto;
    margin: 0 24px;
    border-radius: 16px;
  }

  .scoreHeaderTextContainerAdv {
    padding: 18px 24px;
  }

  .scoreHeaderTextAdv {
    line-height: 16px;
    font-size: 1.2em;
  }

  .scoreHeaderScoreContainerAdv {
    border-radius: 10px;
    margin: 0 24px;
    padding: 12px 24px;
  }
  
  .scoreHeaderScoreTitleAdv {
    font-size: .85em;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }
  
  .scoreHeaderScoreAdv {
    font-size: 3em;
  }
}

@media (min-width: 780px) {
  .scoreHeaderTextContainerAdv {
    padding: 20px 32px;
  }

  .scoreHeaderTextAdv {
    line-height: 22px;
    font-size: 1.7em;
  }

  .scoreHeaderScoreContainerAdv {
    margin: 0 32px;
    padding: 20px 40px;
  }
  
  .scoreHeaderScoreTitleAdv {
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
  
  .scoreHeaderScoreAdv {
    font-size: 4em;
  }
}