.scoreHeaderAdv {
  margin: 0 32px;
  border-radius: 8px;
  border: 3px solid var(--HeaderOutline);
  box-shadow: 0 0 3px 0px var(--HeaderOutline);
  display: flex;
  justify-content: space-between;
}

.scoreHeaderInnerContainerAdv {
  display: flex;
  align-items: center;
}

.scoreHeaderInnerContainerAdv ul {
  list-style: none; 
}

.scoreHeaderTextContainerAdv {
  padding: 0 20px;
}

.scoreHeaderTextAdv {
  color: #fff;
  line-height: 10px;
  font-size: .8em;
  font-weight: 600;
}

.scoreHeaderScoreContainerAdv {
  border-radius: 6px;
  background-color: #fff;
  margin: 10px;
  padding: 11px 20px;
  text-align: center;
}

.scoreHeaderScoreTitleAdv {
  color: var(--ScoreText);
  font-size: .65em;
  letter-spacing: 2px;
}

.scoreHeaderScoreAdv {
  color: var(--DarkText);
  font-size: 2.3em;
  font-weight: 700;
  line-height: 36px;
}