.scoreHeader {
  margin: 0 32px;
  border-radius: 8px;
  border: 3px solid var(--HeaderOutline);
  box-shadow: 0 0 3px 0px var(--HeaderOutline);
  display: flex;
  justify-content: space-between;
}

.scoreHeaderInnerContainer {
  display: flex;
  align-items: center;
}

.scoreHeaderInnerContainer ul {
  list-style: none; 
}

.scoreHeaderTextContainer {
  padding: 0 20px;
}

.scoreHeaderText {
  color: #fff;
  line-height: 17px;
  font-size: 1.35em;
  font-weight: 600;
}

.scoreHeaderScoreContainer {
  border-radius: 6px;
  background-color: #fff;
  margin: 10px;
  padding: 14px 24px;
  text-align: center;
}

.scoreHeaderScoreTitle {
  color: var(--ScoreText);
  font-size: .65em;
  letter-spacing: 2px;
}

.scoreHeaderScore {
  color: var(--DarkText);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 36px;
}

@media (min-width: 400px) {
  .scoreHeader {
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
  }

  .scoreHeaderTextContainer {
    padding: 24px 32px;
  }

  .scoreHeaderText {
    line-height: 32px;
    font-size: 2.5em;
    font-weight: 600;
  }

  .scoreHeaderScoreContainer {
    border-radius: 10px;
    margin: 0 32px;
    padding: 16px 40px;
  }
  
  .scoreHeaderScoreTitle {
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 12px;
  }
  
  .scoreHeaderScore {
    font-size: 3.5em;
  }
}