.modalComponent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  transition: all ease 1s;
}

.modalContainer {
  position: relative;
  height: 100vh;
}

.modalOpen {
  opacity: 1;
  pointer-events: auto;
}

.modalClose {
  opacity: 0;
  pointer-events: none;
}

.modalTitleContainer {
  padding: 102px 0;
  text-align: center;
}

.modalTitle {
  color: var(--DarkText);
  font-size: 2em;
}

.modalRulesContainer {
  padding: 0 24px;
  text-align: center;
}

.modalRulesImg {
  width: 100%;
}

.modalCloseContainer {
  text-align: center;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 40px;
}

@media (min-width: 400px) {
  .modalComponent {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    height: 414px;
    width: 400px;
    border-radius: 14px;
  }

  .modalContainer {
    position: relative;
    height: 100%;
  }

  .modalTitleContainer {
    padding: 30px 40px;
    text-align: left;
  }
  
  .modalTitle {
    font-size: 2em;
  }

  .modalRulesContainer {
    padding: 0 40px;
    text-align: center;
  }
  
  .modalRulesImg {
    width: 100%;
  }

  .modalCloseContainer {
    text-align: center;
    top: 40px;
    left: auto;
    transform: translateX(0);
    right: 40px;
  }
}