.modeComponent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 36px;
  padding-right: 32px;
}

.mode {
  color: #fff;
  font-size: .75em;
  border-bottom: 1px solid #fff;
}

.modeNormal {
  margin-right: 8px;
}