.rulesComponent {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.rulesButton {
  background-color: transparent;
  border: 2px solid var(--HeaderOutline);
  border-radius: 10px;
  width: 130px;
  height: 42px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  cursor: pointer;
}

.rulesButton:hover {
  color: var(--RockGradient1);
  border: 2px solid var(--RockGradient1);
}

@media (min-width: 400px) {
  .rulesComponent {
    top: auto;
    bottom: 32px;
    right: 32px;
    transform: translateX(0);
    text-align: end;
  }
}